{% extends "base.html" %}

{% block body_class %}login-form{% endblock %}

{% block content %}
<section class="container-fluid">
    <div>
        <div class="row">
            <form class="col-12 col-md-6 p-3 m-auto"
                  method="post" action="{% url 'user_signup' %}">
                {% csrf_token %}
                <h4 class="text-center text-white my-4">SIGN UP</h4>
                <h6 class="text-center text-white my-4">Create account</h6>

                <div class="form-group">
                    <h6 class="text-white">Your user name</h6>
                    <input name="username" type="text" class="form-control bg-white rounded-50" id="user-name" >
                </div>
                <div class="form-group">
                    <h6 class="text-white">Password</h6>
                    <input name="password1" type="password" class="form-control bg-white rounded-50" id="user-password" placeholder="Passwords must be at least 8 characters.">
                </div>
                <div class="form-group">
                    <h6 class="text-white">Re-enter password</h6>
                    <input name="password2" type="password" class="form-control bg-white rounded-50" id="user-password" >
                </div>

                
                <div class="container d-flex flex-row-reverse mb-5">
                    <button type="submit " class="btn d-block bg-danger b-radius"><a class="text-white" href="{% url 'index' %}">Cancel</a></button>
                    <button type="submit" class="mr-3 btn btn-new b-radius text-white">Sign in</button>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}